:root {
    --primary-color: rgb(70, 180, 231);
    --secondary-color: white;
}

* {
    font-family: "Figtree", sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    font-variation-settings: normal;
    letter-spacing: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(231, 227, 227);
}

/***************************************************************/

.match-section {
    width: 50%;
    border-radius: 14px;
    background-color: white;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}

.competition-matches {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightgray;
    padding-top: 10px;
}

.competition-matches:first-child {
    border: none;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.container-img {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container-img img {
    width: 50%;
}

.competition {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.competition p {
    font-size: 12px;
    margin: 0;
}

.competition p:first-child {
    color: gray;
}

.competition p:nth-child(2) {
    font-weight: 600;
}

.match {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px;
}

.schedule {
    width: 40px;
}

.schedule p {
    font-size: 12px;
    text-align: center;
}

.match-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5px;
    padding-left: 15px;
    border-left: 1px solid lightgray;
}

.teams {
    display: flex;
    flex-direction: column;
}

.teams > div {
    height: 50%;
    align-content: center;
}

.teams p {
    margin: 0;
    font-size: 14px;
}

.result {
    display: flex;
    flex-direction: column;
}

.result p {
    margin: 0;
    font-size: 14px;
}

.result > div {
    height: 50%;
    align-content: center;
}

.in-progress {
    color: red;
}

.winner {
    font-weight: 600;
}

/**************************************************************************/

/* INPUT CALENDAR */

.calendar-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.calendar {
    background: #fff;
    width: 320px;
    border-radius: 16px;
    padding: 16px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: rgb(21, 50, 214);
}

.calendar-header button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.calendar-header i {
    color: rgb(21, 50, 214);
}

.calendar-header i:hover {
    color: #011768;
}

.calendar-weekdays, .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar-weekdays {
    margin-top: 12px;
    font-size: 12px;
    color: #888;
}

.calendar-days {
    margin-top: 8px;
    gap: 6px;
}

.calendar-days span:not(.blank) {
    padding: 10px 0;
    cursor: pointer;
    border-radius: 50%;
}

.calendar-days span:not(.selected, .blank):hover {
    background: #eee;
}

.calendar-days .today {
    background-color: #d8d8d8;
}

.calendar-days .selected {
    background: #2f5bff;
    color: white;
}

.today-match {
    margin-top: 12px;
    width: 100%;
    padding: 8px;
    background: #2f5bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.today-match:hover {
    background-color: #0533db;
}

.close-calendar {
    text-align: end;
    margin-bottom: 10px;
}

.close-calendar i {
    color: rgb(21, 50, 214);
    font-size: 20px;
    cursor: pointer;
}

.close-calendar i:hover {
    color: #011768;
}

.hidden {
    display: none;
}

/**************************************************************************/

/* Botones superiores */

.match-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.nav-buttons {
    display: flex;
}

.nav-buttons div {
    padding: 10px 15px;
    cursor: pointer;
}

.nav-buttons div:not(.button-selected):hover {
    background-color: rgb(228, 228, 228);
}

.nav-buttons p {
    font-weight: 600;
    color: rgba(21, 50, 214, 0.548);
    font-size: 15px;
}

.button-selected {
    border-bottom: 3px solid rgb(21, 50, 214);
}

.button-selected p {
    color: rgb(21, 50, 214);
}

.date-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 178px;
    gap: 16px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    color: rgb(21, 50, 214);
    font-size: 13px;
    cursor: pointer;
}

#prevDay {
    border-right: 1px solid lightgray;
    padding: 10px 10px 10px 15px;
    height: 100%;
}

#nextDay {
    border-left: 1px solid lightgray;
    padding: 10px 15px 10px 10px;
    height: 100%;
}

.date-selector > :hover {
    color: rgb(5, 24, 133);
}