:root {
    --primary-color: rgb(70, 180, 231);
    --secondary-color: white;
}

* {
    font-family: "Figtree", sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    font-variation-settings: normal;
    letter-spacing: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(231, 227, 227);
}

.sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    align-items: flex-start;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 48%;
}

/***************************************************************/

.match-section {
    width: 48%;
    border-radius: 14px;
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}

.competition-matches {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightgray;
    padding-top: 10px;
}

.competition-matches:first-child {
    border: none;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.container-img {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container-img img {
    width: 50%;
}

.competition {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.competition p {
    font-size: 12px;
    margin: 0;
}

.competition p:first-child {
    color: gray;
}

.competition p:nth-child(2) {
    font-weight: 600;
}

.match {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px; 
    color: #868686;
}

.schedule {
    width: 60px;
}

.schedule p {
    font-size: 12px;
    text-align: center;
}

.match-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid lightgray;
}

.teams {
    display: flex;
    flex-direction: column;
}

.teams > div {
    height: 50%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.teams > div img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.teams p {
    margin: 0;
    font-size: 14px;
}

.result {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}

.result p {
    margin: 0;
    font-size: 14px;
}

.result > div {
    height: 50%;
    align-content: center;
}

.winner {
    color: black;
}

.in-progress {
    color: red;
}

/**************************************************************************/

/* INPUT CALENDAR */

.calendar-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.calendar {
    background: #fff;
    width: 320px;
    border-radius: 16px;
    padding: 16px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: rgb(21, 50, 214);
}

.calendar-header button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.calendar-header i {
    color: rgb(21, 50, 214);
}

.calendar-header i:hover {
    color: #011768;
}

.calendar-weekdays, .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar-weekdays {
    margin-top: 12px;
    font-size: 12px;
    color: #888;
}

.calendar-days {
    margin-top: 8px;
    gap: 6px;
}

.calendar-days span:not(.blank) {
    padding: 10px 0;
    cursor: pointer;
    border-radius: 50%;
}

.calendar-days span:not(.selected, .blank):hover {
    background: #eee;
}

.calendar-days .today {
    background-color: #d8d8d8;
}

.calendar-days .selected {
    background: #2f5bff;
    color: white;
}

.today-match {
    margin-top: 12px;
    width: 100%;
    padding: 8px;
    background: #2f5bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.today-match:hover {
    background-color: #0533db;
}

.close-calendar {
    text-align: end;
    margin-bottom: 10px;
}

.close-calendar i {
    color: rgb(21, 50, 214);
    font-size: 20px;
    cursor: pointer;
}

.close-calendar i:hover {
    color: #011768;
}

.hidden {
    display: none;
}

/**************************************************************************/

/* Botones superiores */

.match-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.nav-buttons {
    display: flex;
}

.nav-buttons div {
    padding: 10px 15px;
    cursor: pointer;
}

.nav-buttons div:not(.button-selected):hover {
    background-color: rgb(228, 228, 228);
}

.nav-buttons p {
    font-weight: 600;
    color: rgba(21, 50, 214, 0.548);
    font-size: 15px;
}

.button-selected {
    border-bottom: 3px solid rgb(21, 50, 214);
}

.button-selected p {
    color: rgb(21, 50, 214);
}

.date-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 178px;
    gap: 16px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    color: rgb(21, 50, 214);
    font-size: 13px;
    cursor: pointer;
}

#prevDay {
    border-right: 1px solid lightgray;
    padding: 10px 10px 10px 15px;
    height: 100%;
}

#nextDay {
    border-left: 1px solid lightgray;
    padding: 10px 15px 10px 10px;
    height: 100%;
}

.date-selector > :hover {
    color: rgb(5, 24, 133);
}

/*******************************************************************/

/* IMPORTANT MATCH */

.important-match-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.important-match-data {
    min-width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    border-radius: 14px;
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}

.important-competition {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.important-competition img {
    width: 50px;
    margin-right: 5px;
}

.important-competition p {
    font-size: 14px;
}

.important-match {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5px;
    border-radius: 5px;
}

.important-match > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
}

.important-match:hover {
    background-color: #eee;
}

.important-match img {
    width: 75px;
    margin-bottom: 5px;
}

.important-match p {
    margin: 0;
}

.important-home-team p, .important-away-team p {
    font-size: 14px;
    font-weight: 600;
    color: #353535;
}

.important-schedule p:first-child {
    font-size: 20px;
    font-weight: 600;
}

.important-schedule p:nth-child(2) {
    font-size: 14px;
    color: #888;
}

.important-schedule p:nth-child(3) {
    font-size: 17px;
    color: #888;
    font-weight: 600;
    margin-top: 5px;
}

/*******************************************************************/

/* Carousel */

.important-match-slider {
  overflow: hidden;
  width: 100%;
}

.important-match-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.slide-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.slide-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    color: #0533db;
    padding: 5px 10px;
}

.slide-buttons button:hover {
    background: #cccccc;
    border-radius: 10px;
}

.prev-match i {
    margin-right: 5px;
}

.next-match i {
    margin-left: 5px;
}

.dots {
  display: flex;
  align-items: center;
  gap: 6px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #b2c3ff;
  cursor: pointer;
}

.dot.active {
  background: #0533db;
}

/***************************************************************/
/* Reminder calendar */

.reminder-calendar {
    background: #fff;
    width: 100%;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    box-sizing: border-box;
}

.reminder-calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: rgb(21, 50, 214);
}

.reminder-calendar-header button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.reminder-calendar-header i {
    color: rgb(21, 50, 214);
}

.reminder-calendar-header i:hover {
    color: #011768;
}

.reminder-calendar-weekdays, .reminder-calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.reminder-calendar-weekdays {
    margin-top: 12px;
    font-size: 12px;
    color: #888;
}

.reminder-calendar-days {
    margin-top: 8px;
    gap: 6px;
}

.reminder-calendar-days div:not(.blank) {
    padding-bottom: 5px;
    padding-top: 2px;
    cursor: pointer;
}

.reminder-calendar-days .old {
    background-color: #ececec;
}

.container-days {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 142px;
}

.container-days > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-days > div > img {
    width: 22px;
}

.container-days > div > img:first-child {
    margin-right: 4px;
}

.container-days > div > img:nth-child(3) {
    margin-left: 4px;
}

.container-days > div > p {
    margin: 0;
    color: #868686;
}

.more-matches {
    color: #353535;
    font-weight: 600;
    font-size: 14px;
    width: fit-content;
    align-self: center;
    padding: 5px 10px;
    border-radius: 5px;
}

.more-matches:hover {
    background-color: #cccccc;
}

/***********************************************************************/

/* Match modal */

.popover {
    position: absolute;
    z-index: 1000;
}

.popover.hidden {
    display: none;
}

.popover-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.2);
}

.popover-close {
    background: none;
    border: none;
    color: #0533db;
    cursor: pointer;
}

.popover-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.popover-arrow.bottom {
    top: -8px;
    left: 20px;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #fff transparent;
}

.popover-match {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.popover-match img {
    width: 22px;
}

.popover-match > img:first-child {
    margin-right: 4px;
}

.popover-match > img:nth-child(3) {
    margin-left: 4px;
}

.popover-match p {
    margin: 0;
}