:root {
    --primary-color: rgb(70, 180, 231);
    --secondary-color: white;
}

* {
    font-family: "Figtree", sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    font-variation-settings: normal;
    letter-spacing: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(231, 227, 227);
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.error-message {
  color: red;
}

/********************************************************************/

.container-tournaments {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.container-tournaments h2 {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 200;
  padding: 25px 0;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tournament-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
  width: 80%;
  background:
        url("image/gold-background.png"),
        linear-gradient(135deg, #ffffff, #fff6d6);
  background: radial-gradient(circle at 10% 50%, rgb(193, 248, 147), transparent 50%),
        linear-gradient(135deg, #345742, #045c2a);
  background: linear-gradient( 135deg,rgba(255,255,255,0.15),var(--competition-color));
  background-size: cover;
  background-position: 10% 75%;
  background-repeat: no-repeat;
  margin: 20px;
  padding: 10px 10px 10px 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

.tournament-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0,0,0,.2);
}

.container-img img {
  height: 100%;
}

.tournament-card h4 {
  margin-top: 10px;
  color: rgb(32, 32, 32);
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.1px;
}

.container-data {
  width: 20%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;

  background: linear-gradient(
    90deg,
    rgba(255,255,255,0.25),
    rgba(255,255,255,0.05)
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  /* Borde tipo vidrio */
  border-radius: 13px;
  

  /* Sombra suave */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  color: var(--competition-secundary-color);
}

.container-info p {
  text-align: right;
}

.container-info i {
  margin-left: 6px;
  opacity: 60%;
}

.container-btn {
  width: 100%;
}

.tournament-btn {
    width: 100%;
    padding: 15px 10px;
    color: rgb(212, 212, 212);
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.free {
  background: transparent;
  border: 1px solid #04c253;
  color: #04c253;
}

.free:hover {
  background-color: rgb(0, 70, 0, 0.4);
}

.pay {
  background: #e9ec07;
  color: #3a3a3a;
}

.pay:hover {
  background-color: rgba(216, 216, 0, 0.6);
}

.delete {
  background-color: rgb(245, 34, 34);
  color: white;
}

.delete:hover {
  background-color: rgb(156, 0, 0, 0.8);
}

/***********************************************************************************/

/* Match list in the tournament */

.matches-list-schedule {
  background: #fff;
  width: 50%;
  border-radius: 16px;
  padding: 16px;
  margin: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.match-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid #0533db;
  color: #0533db;
}

.match-table-header p {
  margin: 0;
  font-weight: 700;
}

.match-table-header i {
  cursor: pointer;
}

.match-table-header i:hover {
  color:#001d88;
}

.match-table {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.schedule-date {
  width: 100%;
  text-align: center;
}

.schedule-date:not(:first-child) {
  margin: 10px 0 0;
  padding-top: 5px;
  border-top: 1px solid rgb(100, 100, 100);
}

.schedule-date p {
  font-size: 14px;
  color: #4d4d4d;
  margin: 0;
}

.schedule-data {
  display: flex;
  flex-direction: column;
}

.schedule-match-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.hour {
  width: 40px;
  border-right: 1px solid lightgray;
}

.hour p {
  font-size: 13px;
  color: #4d4d4d;
  margin-right: 5px;
}

.schedule-data-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 5px;
}

.schedule-home-team, .schedule-away-team {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 140px;
}

.schedule-home-team {
  justify-content: start;
}

.schedule-away-team {
  justify-content: end;
}

.schedule-home-team img, .schedule-away-team img {
  width: 40px;
  height: 40px;
}

.schedule-home-team p, .schedule-away-team p {
  font-size: 15px;
  color: #3a3a3a;
  margin: 0;
}

.schedule-away-team p {
  text-align: right;
}

.schedule-home-team img {
  margin-right: 5px;
}

.schedule-away-team img {
  margin-left: 5px;
}

.schedule-results {
  display: flex;
  flex-direction: row;
}

.schedule-home-result, .schedule-away-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 2px;
}

.schedule-home-result p, .schedule-away-result p {
  font-size: 15px;
  color: #3a3a3a;
  margin: 0 1px;
}

.winner p {
  font-weight: 700;
}

.schedule-predict {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.schedule-predict input {
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0 2px;
  color: #3a3a3a;
}

.schedule-predict input::-webkit-inner-spin-button, 
.schedule-predict input::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

.playoff-predict {
  display: flex;
  flex-direction: column;
}

.predict-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.predict-data p {
  font-size: 15px;
  color: #3a3a3a;
  margin: 0;
}

.predict-data i {
  font-size: 15px;
  color: #3a3a3a;
}

.choose-team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
}

.home-team-predict, .away-team-predict {
  width: 48%;
  border-radius: 20px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.home-team-predict img, .away-team-predict img {
  width: 25px
}

.home-team-predict:hover, .away-team-predict:hover {
  background-color: #d6d6d6;
}

.confirm-predict {
  border-left: 1px solid lightgray;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirm-predict i {
  font-size: 25px;
  margin: 10px 0 10px 5px;
  color: #045c2a;
  cursor: pointer;
}

.confirm-predict i:hover {
  color: #002e14;
}

.locked {
    background-color: #eee;
    padding: 2px;
    outline: none;
    border: none;
}

.team-selected {
  border-color: #045c2a;
}

.team-unselected {
  border-color: rgb(245, 24, 24);
}

/* HIDDEN */

[hidden] {
  display: none !important;
}

.hidden {
  display: none;
}