.tournament-card {
    cursor: pointer;
}

.tournament-card:hover {
    background-color: lightgray;
}

.locked {
    background-color: #eee;
    padding: 2px;
    outline: none;
    border: none;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.error-message {
  color: red;
}